@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

:root {
  --main: #001122;
  --mainLowOp: #001122d8;
  --secondary: #796479;
  --third: #f7caca;
  --title: #333;
  --subtitle: #666;
  --dark: #001220;
  --darklght: #223442;
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142 90% 61%);
  --padding: 1.5rem;

  --clr-dark: rgb(13, 17, 19);
  --clr-light: #f5f5fa;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);

  --br: 0.5em;
  --transition: transform 250ms ease-in-out cubic-bezier(0, 1, 0.78, 1);

  --title-h1-font-s: 1.5em;

  --shadowStandard: rgba(0, 0, 0, 0.25) 10px 64px 65px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  text-decoration: none;
  width: 100%;
  background: var(--clr-light);
}

a {
  text-decoration: none;
}

/* Whatsapp  */
.whatsapp img {
  max-width: 80px;
  position: fixed;
  bottom: 3em;
  right: 2em;
  z-index: 100;
}

/* Title */

.titles {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Header & nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 3em;
  margin-left: 2em;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  letter-spacing: 2px;
  color: var(--dark);
  text-transform: uppercase;
  font-weight: 200;
}

nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  background: inherit;
  margin-right: 10em;
}

.nav-responsive {
  display: none;
}

nav ul li {
  margin: 2em 2em;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  letter-spacing: 2px;
}

/* Img */

.titles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9em;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: var(--title-h1-font-s);
}

.title h2 {
  font-weight: 200;
  color: var(--subtitle);
  font-size: 0.8em;
}

.button-container {
  margin: 1em;
}

.button-container button {
  background: var(--dark);
  color: #fff;
  padding: 8px;
  font-size: 1em;
  border-radius: 10px;
}

.button-container button:hover {
  background: var(--darklght);
  cursor: pointer;
}

/* 
Appear animation */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/* 
Elements of the web */

/* Separator */

#visual {
  position: absolute;

  bottom: 12em;
  width: 100%;
  z-index: -1;
}

/* .wave1 {
  animation: wave 8s infinite alternate ease-in;
}

.wave2 {
  animation: wave2 5s infinite alternate 1s;
} */

@keyframes wave {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(-12px) translateY(20%);
  }
}

@keyframes wave2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translateY(5px);
  }
}

/* Projects */
.projects-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 0;
  gap: 25em 10em;
  place-items: center;
}

/* Page sections */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

section:nth-child(1) {
  color: var(--dark);
}

section:nth-child(2) {
  color: var(--dark);
}

section:nth-child(3) {
  color: var(--dark);
  background: var(--dark);
  position: relative;
  top: 8em;
}

section:nth-child(4) {
  color: var(--dark);
  background: var(--dark);
  position: relative;
  top: 9em;
}

section:nth-child(5) {
  position: relative;
  top: 10em;
  color: var(--dark);
}

section:nth-child(6) {
  position: relative;
  background-image: url("https://res.cloudinary.com/dhbvri4ni/image/upload/v1677508103/portfolio/img/win98_fwf06r.png");
  background-size: cover;
}

section:nth-child(7) {
  color: var(--clr-light);
  background: var(--dark);
  position: relative;
  z-index: 0;
}

section:nth-child(8) {
  color: var(--main);
  background: var(--clr-light);
  position: relative;
  z-index: 0;
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 60px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.project h1,
.project h2,
.project h3,
.project p {
  margin: 1em;
}

.project img {
  max-width: 100%;
}

.project {
  position: relative;
  width: 17em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 10px 64px 65px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: var(--br);
}

.streamers {
  text-align: center;
}

.streamers img {
  width: 2em;
  height: 2.3em;
  margin: 5px;
}

.rank {
  position: absolute;
  top: 0;
  right: 1em;
  font-weight: bold;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.65);
  padding: 0.5em 0.5em 0.75em;
  clip-path: polygon(100% 0%, 100% 55%, 100% 100%, 49% 89%, 0 100%, 0 0);
  z-index: 1000;
  transition: var(--transition);
  color: var(--clr-light);
}

/* Front */
.front .thumbnail {
  border-radius: var(--br);
}

.front .name {
  text-align: center;
  margin: 0.75em 1em;
}

.app-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

/* img overlap */
.front .streamers img {
  justify-content: center;
  align-items: center;
}

/* .front .streamers img:nth-of-type(1){
    transform: translateX(50%); 
    z-index: 1; 
}

.front .streamers img:nth-of-type(2){
    transform: translateX(25%);
} */

/* Hover animations */
.front {
  transition: 250ms;
}

.project:hover {
  box-shadow: none;
}

.project:hover .rank {
  transform: translate(160%, -50%);
}

.project:hover .front {
  transform: translateY(-30%) scale(0.8);
}

@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.2);
  }
}

.project:hover .name {
  color: #fff;
  animation: gameName 250ms forwards;
}

.project:hover .back .name {
  color: var(--dark);
}

.project:hover .stats {
  opacity: 0;
}

.project:hover .back {
  opacity: 1;
  transform: translateY(0);
  transition: transform 250ms, opacity 150ms linear;
}

.project:hover .background {
  transition: var(--transition) opacity 100ms linear;
  opacity: 1;
  transform: scale(1.3, 1.2) translateY(2%);
}

.background {
  background: rgb(40, 46, 54);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(0.2, 0.9);
  opacity: 0;
  transition: transform 250ms;
  border-radius: var(--br);
}

.background .wave {
  width: 100%;
  position: absolute;
  top: 8rem;
  left: 0;
  width: 200%;
  animation: wave linear 20s infinite alternate;
  border-radius: var(--br);
}

.background img {
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
  border-radius: var(--br);
}

/* Back of projects */
.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  transform: translateY(35%);
  opacity: 0;
}

.back .streamers {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  margin: auto;
  align-items: center;
  border-radius: 50%;
}

.back .streamer {
  margin: 5px;
  font-size: 0.9rem;
}

.back .name {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 0.5rem;
  color: var(--dark);
}

.back img {
  display: inline-block;
  position: relative;
  width: 3.5em;
  height: 3.7em;
}

.back .btn,
.back .btn-github {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 10px;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.back .btn:hover,
.back .btn:focus,
.back .btn-github:hover,
.back .btn-github:focus {
  opacity: 0.75;
}

.project .btn {
  background: var(--clr-secondary);
  color: var(--clr-light);
}

.back .streamer:hover .icon {
  transform: translateY(-5%);
}

.back .streamer:hover .icon::before {
  opacity: 1;
}

.back .streamer .icon:hover {
  transform: translateY(-15%) scale(1.2);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.9;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.game-stat {
  font-size: 1.125rem;
  text-align: center;
}

.secondary {
  font-size: 0.7rem;
  text-align: center;
  color: var(--third);
}

.streaming-info {
  color: var(--third);
  margin: 0;
}

span {
  font-size: 0.85rem;
  display: block;
}

/* Skills  */

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-container img {
  max-width: 100px;
  max-height: 100px;
  margin: 2em;
  cursor: pointer;
}

.icons-container img:hover {
  filter: brightness(1.3);
  transform: scale(1.1);
  transition: transform 500ms, filter 500ms ease-in-out;
}

.icons-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
}

.icons-container h4 {
  display: flex;
  position: absolute;
  left: 0;
  color: var(--third);
}

.slide img:hover {
  filter: brightness(1.3);
  transform: scale(1.1);
  transition: transform 500ms, filter 500ms ease-in-out;
}

.icons-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
}

.icons-container h4 {
  display: flex;
  position: absolute;
  left: 0;
  color: var(--third);
}

.modal-skills-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.modal-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50;
  left: 50;
  width: 500px;
  height: 300px;
  background: var(--main);
  border: var(--third) 2px solid;
  border-radius: 10px;
  z-index: 4;
  color: var(--third);
}

.modal-skills img {
  margin-bottom: 10px;
  max-width: 200px;
  max-height: 200px;
}

.icon-definition {
  text-align: justify;
  margin: 1em;
}

.modal-skills-container.active {
  display: flex;
  opacity: 1;
  animation: appear 1s ease-in-out;
}

.modal-skills.active {
  animation: slide 1s ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  margin-bottom: auto;
  margin-left: auto;
  cursor: pointer;
  z-index: 1000;
  z-index: 5;
}

.bar-1 {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transform: translateY(4px) rotate(45deg);
  background-color: var(--third);
  z-index: 5;
}

.bar-2 {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transform: translateY(-4px) rotate(-45deg);
  background-color: var(--third);
  z-index: 5;
}

#svgPJ {
  width: 1000px;
  height: 1000px;
  z-index: 5;
  padding-left: 10em;
  opacity: 0;
}

#svgPJ.active {
  opacity: 1;
  animation: slide-right 500ms ease-in;
}

.st5,
.s25 {
  animation: appear 2000ms ease-in;
}

@keyframes slide-right {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

/* 
Modal rendering */
.modal-skills {
}

/* 



.button-container button{
    background: var(--dark);
    color: #fff;
    padding: 8px;
    font-size: 1em; 
    border-radius: 10px;
}

.button-container button:hover{
    background: var(--darklght);
    cursor: pointer;
} */

/* About me   */

#aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparence {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  background-color: #00000073;
  z-index: 1;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.about-title {
  font-family: "Oswald", sans-serif;
  z-index: 3;
  letter-spacing: 3px;
  position: relative;
  top: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.about-text p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3em;
  margin: auto;
  color: var(--clr-light);

  letter-spacing: 1px;
  font-size: 1.7em;
  text-align: justify;
  line-height: 1.5em;
}

.quote-remark {
  margin: auto;
  padding: 2em;
}

.quote-remark p {
  color: var(--dark);
  padding-top: 1em;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "Oswald", sans-serif;
  background: var(--clr-light);
}

.broom-flight img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transform: scale(0.8);
}

.broom-flight:hover {
  animation: flying 2s ease-in-out;
}

@keyframes flying {
  from {
    transform: scale(1) translateX(0px) translateY(0px);
  }
  to {
    transform: scale(3) rotate(50deg) translateX(-800px) translateY(600px);
  }
}

/* Contact  */

.icons-container {
}

.icons-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons-contact img {
  width: 50px;
  display: flex;
}

.icons-contact div {
  display: flex;
  align-items: center;
}

.icons-contact div:hover {
  transform: scale(1.1);
  transition: transform 500ms;
}

.icons-contact a {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

#visualBack {
  position: absolute;
  top: -2em;
  transform: rotate(180deg);
  width: 100%;
  z-index: -1;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.icons-container-responsive {
  display: none;
}

/* Responsive */

@media (max-width: 900px) {
  html,
  body {
    overflow-x: hidden;
  }

  .whatsapp {
    display: none;
  }

  .whatsapp.responsive {
    display: block;
  }

  header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  header h2 {
    font-size: 1em;
    margin: auto;
  }

  nav {
    text-align: center;
  }

  .common-nav {
    display: none;
  }

  nav ul li {
    font-size: 0.5em;
  }

  .nav-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2em;
    z-index: 10;
  }

  .nav-responsive ul {
    background: var(--mainLowOp);
    color: var(--clr-light);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: var(--shadowStandard);  */
  }

  .nav-responsive ul::after {
    /* content: "";
    position: absolute;
    background: var(--clr-light);
    left: 40%;
    width: 50px;
    height: 110%;
    clip-path: circle(); */
  }

  .nav-responsive ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Img */

  .titles-container {
    margin-top: 18em;
  }

  .title h2 {
    font-size: 0.6em;
  }

  #visual {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .presentation {
    position: absolute;
    top: 5em;
  }

  .title {
    font-size: 0.4em;
  }

  .subtitle {
    font-size: 0.1em;
    position: relative;
    top: 10em;
    text-align: center;
  }

  .button-container button {
    padding: 3px;
    font-size: 0.5em;
    width: 75px;
    border-radius: 2px;
    background: var(--dark);
  }

  section:nth-child(4) {
    color: var(--dark);
    background: var(--dark);
    position: relative;
    top: -12em;
  }

  section h1 {
    font-size: 40px;
  }

  section .cards {
    flex-direction: column;
  }

  /* Skills */
  section:nth-child(4){
    background-color: var(--main);
    z-index: 10;
    min-height: 2vh;
  }

  section:nth-child(5){
    background-color: var(--clr-light);
    z-index: 10;
    min-height: 2vh;
    margin-top: -30em;
  }

  .skills-title-container{
    display: none;
  }

  .icons-responsive{
    width: 60%;
    height: 100px;
    overflow-x: hidden;
    display: flex;
    background-color: var(--main);
    margin-top: -8em;
  }


  .icons-container-responsive {
    display: flex;
    animation: translateIcons 60s infinite;
  }

  .icons-container-responsive img {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    margin: 1em;
    margin-bottom: -2em;

  }

  @keyframes translateIcons{
    from{
      transform: translateX(-10%);
    }
    to{
      transform: translateX(-100%);
    }
  }


  .icons-container {
    display: none;
  }

  .icons-container img:hover {
    filter: brightness(1.3);
    transform: scale(1.1);
    transition: transform 500ms, filter 500ms ease-in-out;
  }

  .icons-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
  }

  .icons-container h4 {
    display: flex;
    position: absolute;
    left: 0;
    color: var(--third);
  }

  .modal-skills-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }

  .modal-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50;
    left: 50;

    background: var(--main);
    border: var(--third) 2px solid;
    border-radius: 10px;
    z-index: 4;
    color: var(--third);
  }

  .modal-skills img {
    margin-bottom: 10px;
    max-width: 50px;
    max-height: 50px;
  }

  .icon-definition {
    text-align: justify;
    font-size: 0.5rem;
    margin: 5em;
    text-align: center;
    padding: 50px 50px;
  }

  .modal-skills-container.active {
    display: flex;
    opacity: 1;
    animation: appear 1s ease-in-out;
  }

  .modal-skills.active {
    animation: slide 1s ease-in-out;
  }

  .modal-skills .close-icon {
    z-index: 3;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -2em;
  }

  .transparence {
    width: 100%;
    height: 330px;
  }

  .about-title {
    font-size: 2em;
  }

  .about-text p {
    text-align: center;
    font-size: 0.8em;
    margin: 2em 0;
  }

  #contact h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 2em;
  }

  .icons-contact {
    display: flex;
    align-items: center;
    justify-content: justify;
    flex-direction: column;
    font-size: 0.7em;
  }
}
